## Popularity-Based Recommenders

In [10]:
import pandas as pd
import numpy as np

Datasets source: https://archive.ics.uci.edu/ml/datasets/Restaurant+%26+consumer+data

Published by: Blanca Vargas-Govea, Juan Gabriel GonzÃ¡lez-Serna, Rafael Ponce-MedellÃ­n. Effects of relevant contextual features in the performance of a restaurant recommender system. In RecSysâ€™11: Workshop on Context Aware Recommender Systems (CARS-2011), Chicago, IL, USA, October 23, 2011.

In [12]:
frame = pd.read_csv('rating_final.csv')
cusine = pd.read_csv('chefmozcuisine.csv')

In [13]:
frame.head(5)

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [14]:
cusine.head(5)

   placeID        Rcuisine
0   135110         Spanish
1   135109         Italian
2   135107  Latin_American
3   135106         Mexican
4   135105       Fast_Food

## Recommending based on counts

In [19]:
rating_count = pd.DataFrame(frame.groupby('placeID')['rating'].count())

In [25]:
rating_count.sort_values('rating', ascending = False).head(5)

         rating
placeID
135085       36
132825       32
135032       28
135052       25
132834       25

In [28]:
place_cusine = pd.merge(rating_count, cusine, on='placeID')

In [50]:
place_cusine[place_cusine.placeID.isin([135085, 132825, 135032, 135052, 132834])]

     placeID  rating         Rcuisine
28    132825      32          Mexican
29    132834      25          Mexican
71    135032      28        Cafeteria
72    135032      28     Contemporary
85    135052      25              Bar
86    135052      25  Bar_Pub_Brewery
105   135085      36        Fast_Food

In [51]:
place_cusine.Rcuisine.describe()

count         112
unique         23
top       Mexican
freq           28
Name: Rcuisine, dtype: object

In [52]:
cusine.Rcuisine.describe()

count         916
unique         59
top       Mexican
freq          239
Name: Rcuisine, dtype: object

##### The most popular cusine is Mexican and and is served at the five most popular restaurants. So it can be recommended as it is popular among users.